@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*{
    font-family: Roboto;
    
}
.nav{
    display: flex;
    justify-content: center;
}
body{
    padding-left: 20px;
    background-color: #5DA3FA;
}