body{
padding-top: 10%;
display: flex;
gap: 50px;
justify-content: center;
align-items: center;
}

label{
    font-size: 40px;
    font-family: cursive;
    margin-right: 5%;
}

.hero{
    
    background-color: #120E43;
    color: #fff;
    padding-left: 10%;
    border-radius: 20px;
    
}
#item-input{
    outline: none;
    /* border: ; */
    height: 50px;
    border-radius: 10px;
}
.todobtn{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: rgba(8, 236, 236, 0.97);
    color: white;
    height:50px;
    font-size: 20px;
}
.list-item{
    color: green;
    font-weight: bold;
    font-size: 30px;
    
    
}

.list-item:hover{
    cursor: pointer;
    color: red;
    text-decoration: line-through;
}



/* BG COLOR */
.chanagebg{
    height: 50px;
    background-color: #03203C;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.chanagebg:hover{
background-color: transparent ;
box-shadow: none ;

}