@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*{
  font-family: Poppins;
}
body{
  background-color: #5DA3FA;
  padding-left: 20px;

}
.nav{
  display: flex;
  justify-content: center;
}


.movielist{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movielist >div{
  /*  */
  border: 1px solid black;
  padding:10px;
}

/* .movielist>div:hover {
      
} */

.img >img{
   width: 200px;
}